# we like to see errors in development but
# turn me off for production
php_flag display_errors On
php_flag magic_quotes_runtime Off
php_flag magic_quotes_gpc Off

# setting our directory indexes
DirectoryIndex index.php index.html

# This fixes the IE6 Background Image Flicker
ExpiresActive On
ExpiresByType image/gif A3600
ExpiresByType image/jpeg A3600
ExpiresByType image/png A3600

# This allows AJAX calls to work correctly in IE (if not preset in httpd.conf)
AddDefaultCharset utf-8

# This GZIPS all CSS, HTML and JS files for quicker loading
# don't GZIP XML or IE will not play nice
# also, don't GZIP: pdf, swf or images
AddOutputFilterByType DEFLATE text/html text/css application/x-javascript text/plain text/javascript application/javascript
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
Header append Vary User-Agent env=!dont-vary

# Redirect all unknown requests to our main controller file
Options FollowSymLinks  
RewriteEngine On  
RewriteCond %{SCRIPT_FILENAME} !-f [OR]
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^(.*)$ index.php/$1 [L,QSA]